funcname	run_SAcC
pca_file	aux/PCA_sr16k_bpo16_sb48_k10.mat
wgt_file	aux/sub_qtr_rats_h800.wgt
norms_file	aux/sub-qtr-rats-dat.norms
pcf_file	aux/pitch_candidates_freqz.txt
kdim	10
nchs	48
n_s	1
SBF_sr	16000
SBF_fmin	100
SBF_bpo	16
SBF_q	8
SBF_order	2
SBF_ftype	2
force_mono	1
hid	800
npcf	67
nmlp	68
hmm_vp	0.1
